<IfModule mod_rewrite.c>
RewriteEngine On
    #RewriteCond %{REMOTE_ADDR} !^122\.162\.150\.174$
    #RewriteCond %{REQUEST_URI} !maintenance\.html
    #RewriteRule ^(.*)$ /maintenance.html [R=302,L]
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>